.menu-container {
    padding: 5%;

  }
  
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .menu-buttons {
    display: flex;
    gap: 10px;
  }
  
  .menu-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  .order {
    background-color: #d4003e;
    color: #fff;
  }
  .book {
    background-color: #fff;
    color: #d4003e;
    box-shadow: 0 2px 4px #d4003e;

  }
  
  .menu-button:hover {
    background-color: #d4003e;
  }
  
  .menu-cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  
  .card {
    width: 23%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  img {
    width: 80px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-description {
    font-size: 14px;
    color: #555;
  }
  
  .card-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #d4003e;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  a {
    color: #d4003e;
  }